# Symfony
APP_ENV=dev
APP_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Database
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"

# Telegram
TELEGRAM_CHAT_ID=@XXXXXXXXXXXXXXXXX
TELEGRAM_TOKEN=XXXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Ria
RIA_SEARCH_URL=https://dom.ria.com/node/searchEngine/v2/?{PARAMS}
RIA_REALTY_URL=https://dom.ria.com/node/searchEngine/v2/view/realty/{ID}?lang_id=4
